tensorflow==2.5.0
gym==0.18.3
keras-rl2==1.0.5
gym[atari]
regex~=2021.8.3
numpy==1.19.5

#python -m atari_py.import_roms .\RL_Atari2600\ROMS
## If you got an error try to download atari-py from conda

# For FlappyBird Env:
pip install flappy-bird-gym

